/* src/styles/Footer.module.css */
.footer {
  background-color: var(--dark-color);
  color: #fff;
  text-align: left;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer a {
  cursor: pointer;
}

.footer a:hover {
  color: var(--light-color);
  text-decoration: underline;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.container > p {
  color: white;
}

.container h3 {
  padding-bottom: 10px;
}
