/* src/styles/Gallery.module.css */
.gallerySection {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-color);
}

.gallery {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  gap: var(--gallery-image-gap);
}

.galleryRow {
  display: flex;
  gap: var(--gallery-image-gap);
  height: auto;
  margin: 0;
  padding: 0;
}

.photoContainer {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.photoContainer:hover .photo {
  transform: scale(1.1);
}

.gallerySection h2 {
  color: var(--light-color);
}

/* Styles pour les appareils mobiles */
@media (max-width: 500px) {
  .galleryRow {
    flex-direction: column;
    height: auto;
    gap: 1.5rem;
    align-items: center;
  }

  .photoContainer {
    margin-bottom: 0;
    overflow: hidden;
  }

  .photo {
    object-fit: cover;
  }
}