/* src/styles/globals.css */
:root {
  --dark-color: #1c2f40;
  --light-color: #f2dcc2;
  --max-width: 900px;
  --border-radius: 10px;
  --section-padding-top: 50px;
  --section-padding-bottom: 250px;
}

* {
  font-family: 'Merienda', cursive;
  margin: 0;
  padding: 0;
}

p, li, button, h4, span, input, label, a {
  font-family: 'Quando', serif;
}

h1, h2, h3, h4, p, li{
  color: var(--dark-color);
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 70px;
}

h3 {
  font-size: 2rem;
}

p{
  font-size: 1.2rem;
}

.section {
  padding: var(--section-padding-top) 0px var(--section-padding-bottom) 0px;
}
