/* src/styles/globals.css */
:root {
  --dark-color: #0c0c0c;
  --light-color: #f3f3f3;
  --light-selection-color: #f2dcc2;
  --max-width: 1000px;
  --border-radius: 10px;
  --section-padding-top: 100px;
  --section-padding-bottom: 250px;
  --gallery-image-width: 250px;
  --pricing-card-padding: 50px;
  --navbar-option-width: 100px;
  --navbar-option-font-size: 16px;
  --gallery-image-gap: 15px;
}

* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}

p, li, button, h4, span, input, label, a, textarea {
  font-family: 'Quando', serif;
}

h1, h2, h3, h4, p, li{
  color: var(--dark-color);
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
  margin-bottom: 70px;
}

h3 {
  font-size: 20px;
}

p, li, label, input, textarea{
  font-size: 14px;
}

.section {
  padding: var(--section-padding-top) 0px var(--section-padding-bottom) 0px;
}


@media (max-width: 800px) {
  :root {
    --max-width: 600px;
    --gallery-image-width: 180px;
    --pricing-card-padding: 25px;
    --navbar-option-width: 100px;
    --navbar-option-font-size: 16px;
    --gallery-image-gap: 10px;
  }
}

@media (max-width: 630px) {
  :root {
    --max-width: 400px;
    --gallery-image-width: 150px;
    --pricing-card-padding: 10px;
    --navbar-option-width: 50px;
    --navbar-option-font-size: 10px;
    --gallery-image-gap: 5px;
  }

  h1 {
    font-size: 24px;
  }
  
  h2 {
    font-size: 18px;
    margin-bottom: 70px;
  }
  
  h3 {
    font-size: 14px;
  }
  
  p, li, label, input, textarea{
    font-size: 9px;
  }
}