/* src/styles/Navbar.module.css */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--dark-color);
  z-index: 999;
  color: white;
}

.navbarContent {
  height: 40px;
  width: 100%;
  max-width: var(--max-width);
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: relative;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-grow: 1;
}

.navbar ul li {
  width: 100px;
  text-align: center;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: var(--light-color);
}

.logo {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.logoImage {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.logoImage:hover {
  content: url('/images/beige.png');
}
