/* src/styles/Pricing.module.css */
.pricingSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: calc(var(--section-padding-bottom)/2);
}

.pricingContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: var(--max-width);
    gap: var(--pricing-card-padding);
}

.pricingCard {
    background: white;
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    padding: 50px var(--pricing-card-padding);
    flex: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pricingCard h3 {
    text-align: center;
}

.descriptionList {
    list-style-type: disc;
    padding: 0px ;
    margin: 25px;
}

.descriptionList li {
    padding: 15px 7px 15px 0px;
}

.price {
    padding-right: 10px;
    font-weight: bold;
    text-align: right;
}

.note {
    font-style: italic;
    color: #666;
    margin-top: 2vh;
    text-align: center;
}